<div class="absolute p-16 top-0 right-0 flex flex-col md:flex-row gap-4 w-9/12">
    <div class="flex-auto md:w-1/2">
        <div class="flex flex-col gap-4">
            <a href="content">
            <div class="relative">
                <div class="border-4 p-1 dark:border-zinc-500 border-zinc-300 rounded-lg transition-all duration-200">
                    <img class="h-auto max-w-full bg-cover object-cover rounded-sm" src="/src/images/MetroBoomin.png" alt="">
                </div>
                <div class="absolute inset-1 rounded-sm dark:bg-black bg-white opacity-0 hover:opacity-95 dark:hover:opacity-85 transition duration-300">
                    <div class="flex flex-col justify-center text-gray-700 dark:text-white p-4 items-center h-full">
                        <h1 class="text-2xl font-bold dark:text-white text-center" transition:name="heading-animation">METRO BOOMIN: Website Development</h1>
                        <p class="text-sm">April 2024</p>
                    </div>
                </div>
            </div>
            </a>
            <img class="h-auto max-w-full rounded-lg" src="https://flowbite.s3.amazonaws.com/docs/gallery/square/image-3.jpg" alt="">
        </div>        
    </div>
    
    <div class="flex-auto md:w-1/2">
        <div class="flex flex-col gap-4">
            <a href="example.com">
                <div class="relative">
                    <div class="border-4 p-1 dark:border-zinc-500 border-zinc-300 rounded-lg transition-all duration-200">
                        <img class="h-auto max-w-full bg-cover object-cover rounded-sm" src="/src/images/ASA.png" alt="">
                    </div>
                    <div class="absolute inset-1 rounded-sm dark:bg-black bg-white opacity-0 hover:opacity-95 dark:hover:opacity-75 transition duration-300">
                        <div class="flex flex-col justify-center text-gray-700 dark:text-white p-4 items-center h-full">
                            <h1 class="text-2xl font-bold dark:text-white text-center">AMERICAN SCHOOL OF ANTANANARIVO: Reworked Website</h1>
                            <p class="text-sm">October 2023</p>
                        </div>
                    </div>
                </div>
                </a>
</div>
