<div class="absolute top-0 right-0 flex-col w-9/12">
<h1 class="text-2xl m-auto mt-16 font-bold dark:text-white text-center" transition:name="heading-animation">METRO BOOMIN: Website Development</h1>
<p class="dark:text-white w-1/2 m-auto pt-6 mb-16 text-center">I did this as a college project Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque maxime optio modi beatae quam quasi voluptates! Dolore amet autem numquam cumque laudantium ducimus iste odit quidem, nulla, nihil, fuga quod!</p>
<img class="w-full m-auto pt-6" src="/src/images/word-introduction-image.png" alt="Metro Boomin Website">
<img class="w-full m-auto pt-6" src="/src/images/typo_colour.png" alt="Metro Boomin Website">
</div>