<div class="relative sm:ml-[14.5%] font-neuemontreal w-full left-0 p-4 flex flex-col justify-center items-center align-middle md:flex-row gap-20 md:w-[73.25%] sm:w-full">
    <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
    <lottie-player src="https://lottie.host/208f30c7-e16b-449f-8e58-d315597813d3/qksagFoHEc.json" background="##fff" speed="1" style="width: 100%; max-width: 500px; height: auto" loop autoplay direction="1" mode="normal"></lottie-player>
    <h2 class="text-3xl sm:mb-48 lg:mb-0 md:text-5xl italic text-white text-center">Under Construction</h2>
  </div>
 