---
import { Image } from "astro:assets";
import SignatureImgDark from "../assets/signature.png";
import SignatureImgLight from "../assets/signature-light.png";
---

<section>
  <aside
    id="sidebar-multi-level-sidebar"
    class="font-neuemontreal fixed top-0 left-0 w-2/12 h-screen transition-transform -translate-x-full sm:translate-x-0"
    aria-label="Sidebar"
    transition:persist
  >
    <div
      class="h-full px-3 py-4 overflow-y-auto bg-transparent dark:bg-transparent"
    >
      <ul class="flex flex-col justify-between h-[55%] pl-6 font-medium">
        <li>
          <a
            href="/"
            class="flex flex-col py-6 text-gray-900 dark:text-white rounded-lg"
          >
            <span class="text-3xl dark:opacity-90">R. VeeDev</span>
            <span class="text-sm font-normal leading-4 dark:opacity-65"
              >UI/UX Designer & <br />Web Developer</span
            >
          </a>
        </li>
        <li>
         <div class="flex flex-col">
         <a href="#">
          <span
            class="text-2xl dark:text-white text-black opacity-90 text-left rtl:text-right whitespace-nowrap"
            >Info</span
          >
         </a>
         <a href="#">
          <span
            class="text-2xl dark:text-white text-black opacity-90 text-left rtl:text-right whitespace-nowrap"
            >Projects</span
          >
         </a>
         </div>
          <ul
            class="flex-col m-auto justify-center text-sm font-normal py-2 dark:text-white opacity-65 transition-opacity duration-300"
          >
            <li>
              <a
                href="#"
                class="flex items-center w-full transition duration-75 group"
                >Minifig Lab: LEGO Minifigure builder</a
              >
            </li>
            <li>
              <a
                href="#"
                class="flex items-center w-full transition duration-75 group"
                >Nike: Fitness App Prototype</a
              >
            </li>
            <li>
              <a
                href="#"
                class="flex items-center w-full transition duration-75 group"
                >Inventory Management System (C#)</a
              >
            </li>
          </ul>
          <ul>
            <li>
              <a href="#" class="">
                <span
                  class="flex-1 dark:text-white text-2xl opacity-90 whitespace-nowrap"
                  >Resume</span
                >
              </a>
            </li>
            <li>
              <a href="#" class="">
                <span
                  class="flex-1 dark:text-white text-2xl opacity-90 whitespace-nowrap"
                  >Contact</span
                >
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </aside>
</section>
